*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body{
    margin: 1rem;
}

.title{
    text-align: center;
}

.title img{
    cursor: pointer;
}

main h1{
    text-align: center;
}

section{
    margin: 20px 0;
}

section h2{
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section p{
    font-size: 12px;
}

section h3{
    font-size: 13px;
    color: #8000ff;
}

.contact{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 5px;
}

.contact-icon{
    display: flex;
    gap: 10px;
}

.social-media{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.form-container p{
    font-size: 14px;
    font-weight: 700;
    color: #8000ff;
    margin-bottom: 10px;
}

form{
    display: grid;
    padding: 20px;
    background-color: #9a9a9a;
    border-radius: 10px;
    font-size: 13px;
}

form input{
    margin: 10px 0;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

form textarea{
    outline: none;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    padding: 5px;
}

.submit-btn{
    background-color: #8000ff;
    padding: 10px;
    font-weight: 900;
}